In [43]:
''' implementation of the naive agent as a benchmark for toy exmaples '''

import pandas as pd
from sensorimotor.envs import NumberLine


class NaiveSensorimotor(object):
    ''' suitable for small, simple environments '''

    def __init__(self, env):
        self.env = env
        self.memory = pd.DataFrame(columns=['input', 'action', 'result_id'])
        self.action = 0

    def memorize(self, obs):
        self.memory = self.memory.append({'input':obs, 'action':self.action, 'result_id':self.memory.shape[0]+1}, ignore_index=True)
    
    def random_step(self, obs):
        self.action = env.action_space.sample()
        self.memorize(obs)
        return self.action

    # def get_path(self, target, start=None, actions=None):
    #     ''' recursive breadth first search from both ends '''
    #     start = start or self.memory.iloc[-1, 0]
    #     # ... finish 
    #     
    # def get_path_forward(self, target, start, inputs=None actions=None):
    #     inputs = inputs or [start]
    #     df = self.memory[self.memory['input'].isin(inputs)]
    #     indexes = df.index
    #     new_inputs = df['inputs']
    #     new_actions = df['actions']
    #     if target in new_inputs:
    #         last_action = new_actions[new_inputs.index(target)]
    #     # ... finish 
    #     
    #     
    # def get_path_backwards(self, target, start, actions=None):
    #     # ... finish 
    #     pass

In [44]:
env = NumberLine()
env.seed(0)
agent = NaiveSensorimotor(env)
for i_episode in range(1):
    obs = env.reset()
    env.render()
    for t_timesteps in range(1000):
        action = agent.random_step(obs)
        obs, reward, done, info = env.step(action)
env.close()

0		--> 0.000000000000000000
0

In [45]:
env.state

-246

In [46]:
agent.memory

    input action result_id
0       0      1         1
1       1      0         2
2       1      2         3
3       0      0         4
4       0      2         5
..    ...    ...       ...
995  -257      1       996
996  -256      2       997
997  -257      0       998
998  -257      1       999
999  -256      3      1000

[1000 rows x 3 columns]

In [51]:
agent.memory.iloc[-1, 0]

-256

In [52]:
agent.memory[agent.memory['input'].isin() == -257]

    input action result_id
995  -257      1       996
997  -257      0       998
998  -257      1       999

In [55]:
indexes = agent.memory[agent.memory['input'] == -257].index

In [56]:
agent.memory[agent.memory['result_id'].isin(indexes)]

    input action result_id
994  -267      3       995
996  -256      2       997
997  -257      0       998

In [59]:
[1,2,3].index(0)

ValueError: 0 is not in list